amqp==5.2.0
asgiref==3.8.1
beautifulsoup4==4.12.3
billiard==4.2.0
celery==5.4.0
celery-progress==0.4
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cron-descriptor==1.4.3
Django==4.2.14
django-celery-beat==2.6.0
django-celery-results==2.5.1
django-timezone-field==7.0
frozendict==2.4.4
html5lib==1.1
idna==3.7
kombu==5.3.7
lxml==5.2.2
multitasking==0.0.11
numpy==2.0.1
pandas==2.2.2
peewee==3.17.6
platformdirs==4.2.2
prompt_toolkit==3.0.47
python-crontab==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
six==1.16.0
soupsieve==2.5
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
vine==5.1.0
wcwidth==0.2.13
webencodings==0.5.1
yfinance==0.2.41
