{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta name="viewport" content="width=1024">
    <title>Stock Marker Predictor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
  </head>
  <body>
    <header>
      <nav>
        <a class ='title' href="{% url 'dashboard' %}">Stock Market Predictor</a>
        <p id="queue-position">Your position in queue: please load data...</p>
        <div class="nav-wrapper">
          <a class ='back_to_projects' href="https://ganels.com/">Back to Projects</a>
          <a href="https://ganels.com/" class="logo-link"><img src="{% static 'img/logo_full.png' %}" class = 'logo-img' alt="Ganel's Project Website"></a>
        </div>
      </nav>
    </header>
    <main>
      <div class="wrapper">
        <div class="leftpanel">
          <div class="panel">
            <form action="{% url 'load_data' %}" method="get">
                {% csrf_token %}
                <div class="inputs">
                    <label for="ticker">Ticker:</label>
                    <select name="ticker" id="ticker">
                        <option value="AAPL" {% if form_data and form_data.ticker == "AAPL" %}selected{% endif %}>AAPL</option>
                        <option value="GOOG" {% if form_data and form_data.ticker == "GOOG" %}selected{% endif %}>GOOG</option>
                        <option value="NVDA" {% if form_data and form_data.ticker == "NVDA" %}selected{% endif %}>NVDA</option>
                    </select>
                </div>
        
                <div class="inputs">
                    <label for="start_date">Start Date:</label>
                    <input type="date" id="start_date" name="start_date" value="{{ form_data.start_date|default_if_none:'' }}" />
                </div>

                <div class="inputs">
                    <label for="end_date">End Date:</label>
                    <input type="date" id="end_date" name="end_date" value="{{ form_data.end_date|default_if_none:'' }}" />
                </div>

                <div class="checkbox-group news-check">
                  <input type="checkbox" id="news_check" name="news_check" value="news_check" {% if form_data and form_data.news_check %}checked{% endif %} />
                  <label for="news_check", class = 'news-check'>Load Recent News?</label><br />
                </div>
                
                <p class="feature-selction">Select Features Used For Training:</p>
                <p class="feature-selction-info">*All Features Use Previous Day Values. The Model Automatically Uses The Previous Day Closing Price as a Feature*</p>
                <div class="checkboxes">
                  <div class="checkbox-group">
                    <input type="checkbox" id="open" name="open" value="open" {% if form_data and form_data.open %}checked{% endif %} />
                    <label for="open">Open</label><br />
                  </div>

                  <div class="checkbox-group">
                    <input type="checkbox" id="high" name="high" value="high" {% if form_data and form_data.high %}checked{% endif %} />
                    <label for="high">High</label><br />
                  </div>

                  <div class="checkbox-group">
                    <input type="checkbox" id="low" name="low" value="low" {% if form_data and form_data.low %}checked{% endif %} />
                    <label for="low">Low</label><br />
                  </div>

                  <div class="checkbox-group">
                    <input type="checkbox" id="adj_close" name="adj_close" value="adj_close" {% if form_data and form_data.adj_close %}checked{% endif %} />
                    <label for="adj_close">Adj Close</label><br />
                  </div>

                  <div class="checkbox-group">
                    <input type="checkbox" id="volume" name="volume" value="volume" {% if form_data and form_data.volume %}checked{% endif %} />
                    <label for="volume">Volume</label><br />
                  </div>

                  <div class="checkbox-group">
                      <input type="checkbox" id="26_ema" name="26_ema" value="26_ema" {% if form_data and form_data.26_ema %}checked{% endif %} />
                      <label for="26_ema">26 EMA</label><br />
                  </div>
          
                  <div class="checkbox-group">
                      <input type="checkbox" id="21_ema" name="21_ema" value="21_ema" {% if form_data and form_data.21_ema %}checked{% endif %} />
                      <label for="21_ema">21 EMA</label><br />
                  </div>
          
                  <div class="checkbox-group">
                      <input type="checkbox" id="9_ema" name="9_ema" value="9_ema" {% if form_data and form_data.9_ema %}checked{% endif %} />
                      <label for="9_ema">9 EMA</label><br />
                  </div>

                  <div class="checkbox-group">
                    <input type="checkbox" id="SMA20" name="SMA20" value="SMA20" {% if form_data and form_data.SMA20 %}checked{% endif %} />
                    <label for="SMA20">20 SMA</label><br />
                  </div>

                  <div class="checkbox-group">
                    <input type="checkbox" id="macd" name="macd" value="macd" {% if form_data and form_data.macd %}checked{% endif %} />
                    <label for="macd">MACD</label><br />
                  </div>

                  <div class="checkbox-group">
                    <input type="checkbox" id="signal" name="signal" value="signal" {% if form_data and form_data.signal %}checked{% endif %} />
                    <label for="signal">Signal Line</label><br />
                  </div>

                  <div class="checkbox-group">
                    <input type="checkbox" id="upper_bollinger_bands" name="upper_bollinger_bands" value="upper_bollinger_bands" {% if form_data and form_data.upper_bollinger_bands %}checked{% endif %} />
                    <label for="upper_bollinger_bands">Upper Bollinger Bands</label><br />
                  </div>

                  <div class="checkbox-group">
                    <input type="checkbox" id="lower_bollinger_bands" name="lower_bollinger_bands" value="lower_bollinger_bands" {% if form_data and form_data.lower_bollinger_bands %}checked{% endif %} />
                    <label for="lower_bollinger_bands">Lower Bollinger Bands</label><br />
                  </div>
                  
              </div>
              <div class="checkbox-group">
                <input type="submit" id="loadButton" value="Load Data" />
              </div>
            </form>
            {% if error_msg != None%}
            <p class="error_form">{{error_msg}}</p>
            {% endif %}
            <div class="progress-bar-panel">
              <input type="abort" id="abort" value="Abort" />
              <div class='progress-wrapper'>
                <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
              </div>
              <div class="message-wrapper">
                <div id="progress-bar-message">Waiting for data to be loaded...</div>
              </div>
            </div>
          </div>
          <div class="ml-panel">
            <h2 class = 'model-info'>Model Information</h2>
            <div class="ml-info">
              <div class="info-rows">
                <div class="info-container">
                  <p id="display">Model Type:</p>
                  <p id="model_type" class = 'outputs'>(Waiting For Data)</p>
                </div>
                <div class="info-container">
                  <p id="display">Test Loss:</p>
                  <p id="test_loss" class = 'outputs'>(Waiting For Data)</p>
                </div>
              </div>
              <div class="info-rows">
                <div class="info-container">
                  <p id="display">RMSE:</p>
                  <p id="RMSE" class = 'outputs'>(Waiting For Data)</p>
                </div>
                <div class="info-container">
                  <p id="display">r<sup>2</sup> (Naive Model):</p>
                  <p id="r_2_naive" class = 'outputs'>(Waiting For Data)</p>
                </div>
              </div>
              <div class="info-rows">
                <div class="info-container">
                  <p id="display">r<sup>2</sup>:</p>
                  <p id="r_2" class = 'outputs'>(Waiting For Data)</p>
                </div>
                <div class="info-container">
                  <p id="display">RMSE (Naive Model):</p>
                  <p id="naive_model_RMSE" class = 'outputs'>(Waiting For Data)</p>
                </div>
              </div>
              <div class="info-rows">
                <div class="info-container">
                  <p id="display">Train Loss:</p>
                  <p id="train_loss" class = 'outputs'>(Waiting For Data)</p> 
                </div>
                <div class="info-container">
                  <p id="display">Beat Naive Model?</p>
                  <p id="naive_model_beat" class = 'outputs'>(Waiting For Data)</p>
                </div>
              </div>
            </div>
            <div class="info-container-full">
              <p id="display">Features Used For Training:</p>
              <p id="features_used" class = 'outputs'>(Waiting For Data)</p>
              <p id="display">Next Trading Day Predicted Closed Price:</p>
              <p id="next_predicted_close" class = 'outputs'>(Waiting For Data)</p>
            </div>
          </div>
        </div>
        <div class="graphs">
          <div class="price_chart">
            <div class="chart_button price-btn-div">
              <input  type="button" id = "resetZoomButtonPrice" value="Reset Zoom"/>
            </div>
            <div class="price-container">
              <canvas id="price_graph"></canvas>
            </div>
          </div>
          <div class="volume_chart">
            <div class="chart_button volume-btn-div">
              <input  type="button" id = "resetZoomButtonVolume" value="Reset Zoom"/>
            </div>
            <div class="volume-container">
              <canvas id="volume_graph" ></canvas>
            </div>
          </div>
          <div class="corrolation_chart">
            <div class="chart_button corro-btn-div">
              <input  type="button" id = "resetZoomButtonCorro" value="Reset Zoom"/>
            </div>
            <div class="corro-container">
              <canvas id="corrolation_graph"></canvas>
            </div>
          </div>
        </div>
        <div class="right-panel">
          <div class="news">
            <div class = 'news-header'>
              <h2>Recent News</h2>
              <div class="sentiment-explain">
                <p class = 'positive_sent'>Positive Sentiment</p>
                <p class = 'neutral_sent'>Neutral Sentiment</p>
                <p class = 'negative_sent'>Negative Sentiment</p>
                <p class = 'news-warning'>*Sentiment can sometimes be classifed incorrectly (≈ 92% accuracy)*</p>
              </div>
            </div>
            <div class="news-wrapper">
              
              <div class="news-item">
                <div class="date-news">
                  <p id="date_news_1">Date</p>
                </div>
                <div class = "news-input">
                  <p id="news_input_1">(Waiting For Data)</p>
                </div>
              </div>
            
              <div class="news-item">
                <div class="date-news">
                  <p id="date_news_2">Date</p>
                </div>
                <div class = "news-input" >
                  <p id="news_input_2">(Waiting For Data)</p>
                </div>
              </div>
            
            
              <div class="news-item">
                <div class="date-news">
                  <p id="date_news_3">Date</p>
                </div>
                <div class = "news-input" >
                  <p id="news_input_3">(Waiting For Data)</p>
                </div>
              </div>
            
            
              <div class="news-item">
                <div class="date-news">
                  <p id="date_news_4">Date</p>
                </div>
                <div class = "news-input" >
                  <p id="news_input_4">(Waiting For Data)</p>
                </div>
              </div>
            
            
              <div class="news-item">
                <div class="date-news">
                  <p id="date_news_5">Date</p>
                </div>
                <div class = "news-input" >
                  <p id="news_input_5">(Waiting For Data)</p>
                </div>
              </div>

              <div class="news-item">
                <div class="date-news">
                  <p id="date_news_6">Date</p>
                </div>
                <div class = "news-input" >
                  <p id="news_input_6">(Waiting For Data)</p>
                </div>
              </div>

              <div class="news-item">
                <div class="date-news">
                  <p id="date_news_7">Date</p>
                </div>
                <div class = "news-input" >
                  <p id="news_input_7">(Waiting For Data)</p>
                </div>
              </div>

              <div class="news-item">
                <div class="date-news">
                  <p id="date_news_8">Date</p>
                </div>
                <div class = "news-input" >
                  <p id="news_input_8">(Waiting For Data)</p>
                </div>
              </div>
              
            </div>
          </div>
          <div class="train_loss_chart">
            <div class="chart_button train-loss-btn-div">
              <input  type="button" id = "resetZoomButtonTrainLoss" value="Reset Zoom"/>
            </div>
            <div class="train-loss-container">
              <canvas id="train_loss_graph"></canvas>
            </div>
          </div>
          <div class="info">
            <div id="how-to-use" class="section top">
                <h2>How to Use</h2>
                <p>Use the dashboard to predict stock prices by:</p>
                <ul>
                    <li>Choosing a stock ticker.</li>
                    <li>Selecting a timeframe (at least one month).</li>
                    <li>Picking features for the model.</li>
                    <li>Pressing "Load Data".</li>
                </ul>
                <p>Your queue position is shown in the navigation bar if another user is currently loading data.</p>
            </div>
    
            <div id="insights" class="section">
                <h2>Insights</h2>
                <p>Our analysis shows:</p>
                <ul>
                    <li>LSTM models are not more accurate than naive models (previous day's closing price).li>
                    <li>Price-related data alone is insufficient for accurate predictions, supporting the Efficient Market Hypothesis. (Sentiment isn't used in the LSTM due to resource issues and is shown to display my entity sentiment model.)</li>
                    <li>Many correlated features do not enhance prediction accuracy.</li>
                </ul>
                <p>More information, along with further insights about this project can be found at <a class ='title' href="https://ganels.com/stock-market-predictor-using-machine-learning/">Stock Market Predictor</a></p>
            </div>
    
            <div id="future-plans" class="section">
                <h2>Future Plans</h2>
                <p>Planned enhancements include:</p>
                <ul>
                    <li>Integrating unrestricted historical news data.</li>
                    <li>Improving headline scraping efficiency.</li>
                    <li>Refining the sentiment analysis model, currently at 92% accuracy with a fine-tuned BERT model.</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.1.1"></script>
  <script src="{% static 'celery_progress/update_features.js' %}"></script>
  <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
  <script src="{% static 'celery_progress/create_graphs.js' %}"></script>
  <script>

    const loadDataBtn = document.getElementById('loadButton');
    const abortBtn = document.getElementById('abort');
    var taskId = "{{ task_id|default_if_none:'' }}";

    abortBtn.addEventListener('click', function() {
      window.location.href ="{% url 'abort' %}";
      abortBtn.style.display = 'none';
    });

    document.getElementById("resetZoomButtonCorro").addEventListener("click", function() {
      window.corroChart.resetZoom();
    });

    document.getElementById("resetZoomButtonPrice").addEventListener("click", function() {
      window.priceChart.resetZoom();
    });

    document.getElementById("resetZoomButtonVolume").addEventListener("click", function() {
      window.volumeChart.resetZoom();
    });

    document.getElementById("resetZoomButtonTrainLoss").addEventListener("click", function() {
      window.train_loss_chart.resetZoom();
    });

    document.addEventListener("DOMContentLoaded", function () {
      if (taskId) {
        document.getElementById('loadButton').style.display = 'none';
        var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
        CeleryProgressBar.initProgressBar(progressUrl);
      }
    });

    if (taskId) {
        var task_id = '{{ task_id }}';  // Pass the task_id to the template
        abortBtn.style.display = 'block';
        loadDataBtn.style.display = 'none';
        var ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
        var ws_port = ws_scheme === "ws" ? ":8001" : "";
        var ws = new WebSocket(ws_scheme + '://' + window.location.hostname + ws_port + '/ws/queue_position/' + task_id + '/');

        ws.onmessage = function(event) {
            var data = JSON.parse(event.data);
            var position = data['position'];
            if (position == null) {
              document.getElementById('queue-position').innerText = 'Your position in queue: please load data...';
              ws.close()
            } else {
              document.getElementById('queue-position').innerText = 'Your position in queue: ' + position;
            }
        };

        ws.onerror = function(error) {
            console.error('WebSocket error:', error);
        };
    }

    
  </script>  
</html>
