{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Marker Predictor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
  </head>
  <body>
    <header>
      <nav>
        <a class ='title' href="{% url 'dashboard' %}">Stock Market Predictor</a>
        <p id="queue-position">Your position in queue: please load data...</p>
        <div class="nav-wrapper">
          <a class ='back_to_projects' href="https://ganels.com/">Back to Projects</a>
          <a href="https://ganels.com/" class="logo-link"><img src="{% static 'img/logo_full.png' %}" class = 'logo-img' alt="Ganel's Project Website"></a>
        </div>
      </nav>
    </header>
    <main>
      <div class="wrapper">
        <div class="leftpanel">
          <div class="panel">
            <form action="{% url 'load_data' %}" method="get">
                {% csrf_token %}
                <div class="inputs">
                    <label for="ticker">Ticker:</label>
                    <select name="ticker" id="ticker">
                        <option value="AAPL" {% if form_data and form_data.ticker == "AAPL" %}selected{% endif %}>AAPL</option>
                        <option value="GOOG" {% if form_data and form_data.ticker == "GOOG" %}selected{% endif %}>GOOG</option>
                        <option value="NVDA" {% if form_data and form_data.ticker == "NVDA" %}selected{% endif %}>NVDA</option>
                    </select>
                </div>
        
                <div class="inputs">
                    <label for="start_date">Start Date:</label>
                    <input type="date" id="start_date" name="start_date" value="{{ form_data.start_date|default_if_none:'' }}" />
                </div>
        
                <div class="inputs">
                    <label for="end_date">End Date:</label>
                    <input type="date" id="end_date" name="end_date" value="{{ form_data.end_date|default_if_none:'' }}" />
                </div>
        
                <div class="checkbox-group">
                    <input type="checkbox" id="200_ema" name="200_ema" value="200_ema" {% if form_data and form_data.200_ema %}checked{% endif %} />
                    <label for="200_ema">200 EMA</label><br />
                </div>
        
                <div class="checkbox-group">
                    <input type="checkbox" id="21_ema" name="21_ema" value="21_ema" {% if form_data and form_data.21_ema %}checked{% endif %} />
                    <label for="21_ema">21 EMA</label><br />
                </div>
        
                <div class="checkbox-group">
                    <input type="checkbox" id="9_ema" name="9_ema" value="9_ema" {% if form_data and form_data.9_ema %}checked{% endif %} />
                    <label for="9_ema">9 EMA</label><br />
                </div>
                
                <div class="checkbox-group">
                    <input type="submit" id="loadButton" value="Load Data" />
                </div>

            </form>
            {% if error_msg != None%}
            <p class="error_form">{{error_msg}}</p>
            {% endif %}
            <div class="progress-bar-panel">
              <input type="abort" id="abort" value="Abort" />
              <div class='progress-wrapper'>
                <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
              </div>
              <div class="message-wrapper">
                <div id="progress-bar-message">Waiting for data to be loaded...</div>
              </div>
            </div>
          </div>
          </div>
        <div class="graphs">
          <div class="price_chart">
            <canvas id="price_graph"></canvas>
          </div>
          <div class="volume_chart">
            <canvas id="volume_graph" ></canvas>
          </div>
          <div class="macd_chart">
            <canvas id="macd_graph"></canvas>
          </div>
        </div>
      </div>
    </main>
  </body>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8/hammer.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.1.1"></script>
  <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
  <script>

    const loadDataBtn = document.getElementById('loadButton');
    const abortBtn = document.getElementById('abort');
    var taskId = "{{ task_id|default_if_none:'' }}";

    abortBtn.addEventListener('click', function() {
      window.location.href ="{% url 'abort' %}";
      abortBtn.style.display = 'none';
    });


    document.addEventListener("DOMContentLoaded", function () {
      if (taskId) {
        document.getElementById('loadButton').style.display = 'none';
        var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
        CeleryProgressBar.initProgressBar(progressUrl);
      }
    });

    if (taskId) {
        var task_id = '{{ task_id }}';  // Pass the task_id to the template
        abortBtn.style.display = 'block';
        loadDataBtn.style.display = 'none';
        var ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
        var ws_port = ws_scheme === "ws" ? ":8001" : "";
        var ws = new WebSocket(ws_scheme + '://' + window.location.hostname + ws_port + '/ws/queue_position/' + task_id + '/');

        ws.onmessage = function(event) {
            var data = JSON.parse(event.data);
            var position = data['position'];
            if (position == null) {
              document.getElementById('queue-position').innerText = 'Your position in queue: please load data...';
              ws.close()
            } else {
              document.getElementById('queue-position').innerText = 'Your position in queue: ' + position;
            }
        };

        ws.onerror = function(error) {
            console.error('WebSocket error:', error);
        };
    }

    
  </script>  
</html>
