body {
  margin: 0;
  font-family: "Inter";
}

header {
  width: 100%;
  height: 3em;
  position: relative;
  background-color: black;
}

.wrapper {
  display: flex;
  flex-direction: row; /* Ensure flex direction is row to place leftpanel and graphs side by side */
  /* background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 112, 255, 1) 100%
  ); */
  background-color: black;
}

form label,
form select,
form input[type="date"] {
  display: block;
  margin-bottom: 10px; /* Add some space between elements */
  margin-right: 2px;
  font-size: 0.8em;
}

#ticker {
  font-size: 0.7em;
}

form label[for="end_date"] {
  padding-left: 10px;
}

form input[type="submit"] {
  border-radius: 10px;
  width: 100px;
  height: 30px;
  font-weight: bold;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dates-panel {
  display: flex;
}

.model-inputs-panel {
  display: flex;
  align-items: center;
}

.model-inputs-panel .inputs label {
  margin: 0;
}

.model-inputs-panel label[for="factor"] {
  padding-left: 10px;
}

#learning_rate,
#factor {
  width: 40%;
}

.model-inputs-panel .inputs input {
  font-size: 0.7em;
}

.checkbox-group.news-check {
  font-size: 0.9em;
  padding-top: 5px;
  margin: 0;
}

form input[type="checkbox"] {
  margin: 0 0 0 10px;
}

form .checkbox-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

form .checkbox-group label {
  margin: 8px 0 8px 5px;
}

form .model-inputs-panel,
.dates-panel {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

form .inputs {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

form .inputs input,
form .inputs select {
  margin-left: 5px;
}

form {
  position: relative;
  padding: 0 10px 0 10px;
}

form label {
  font-weight: bold;
  color: black;
}

form input,
form select {
  color: white;
  background-color: black;
}

.error_form {
  color: red;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
  margin: 0;
}

.checkboxes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 0.7em;
  justify-content: center;
}

.feature-selction {
  font-weight: bold;
  text-align: center;
  margin: 10px 0 2px 0;
  font-size: 1em;
}

.feature-selction-info {
  text-align: center;
  font-size: 0.7em;
  margin: 0 0 0 0;
}

nav {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 2em;
  padding-top: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  text-decoration: none;
}

header nav a.title {
  font-size: 2em;
  color: white;
  font-weight: bold;
}

header nav a.back_to_projects {
  font-size: 1.2em;
  color: rgb(224, 221, 221);
}

.progress-bar-panel {
  background-color: white;
  width: 95%;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.message-wrapper {
  display: flex;
  padding-top: 5px;
}

#progress-bar-message {
  box-sizing: border-box;
  position: relative;
  margin: auto;
  text-align: center;
  font-size: 0.8em;
}

.panel {
  position: relative;
  height: 60%;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  flex-direction: column;
}

.leftpanel {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: calc(100vh - 3em);
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
}

.graphs {
  width: 50%; /* Adjust width as needed */
  height: calc(100vh - 3em); /* Subtract header height from 100vh */
  position: relative;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
}

.price_chart,
.volume_chart,
.corrolation_chart {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 5px 5px 5px;
  position: relative;
  background-color: rgb(0, 0, 0);
  min-height: 0;
}

.chart_button input {
  position: relative;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3b3b3b;
  color: white;
  border: 1px solid #5c5c5c;
  padding: 2px 5px;
  font-size: 0.7em;
  font-weight: bold;
  display: block;
}

#resetZoomButtonPrice,
#resetZoomButtonCorro,
#resetZoomButtonVolume {
  display: block;
}

.chart_button.price-btn-div {
  position: relative;
  height: 18px;
  flex: 1;
}

.price-container {
  position: relative;
  height: 90%;
  flex: 1;
}

.chart_button.volume-btn-div {
  position: relative;
  height: 18px;
  flex: 2;
}

.volume-container {
  position: relative;
  height: 90%;
  flex: 2;
}

.chart_button.corro-btn-div {
  position: relative;
  height: 18px;
  flex: 3;
}

.corro-container {
  position: relative;
  height: 90%;
  flex: 3;
}

.price_chart {
  height: 40%;
}

.volume_chart {
  height: 30%;
  margin-top: 10px;
}

.corrolation_chart {
  height: 30%;
  margin-top: 10px;
}

#price_graph {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
}

#volume_graph {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 2;
}

#corrolation_chart {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 3;
}

.logo-img {
  height: 2.5em;
  box-sizing: border-box;
  padding-left: 10px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

nav p {
  color: white;
}

#abort {
  position: relative;
  width: 20%;
  height: 20px;
  margin: auto;
  color: white;
  background-color: black;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  display: none;
  margin-bottom: 5px;
  margin-top: 5px;
}

.ml-panel {
  position: relative;
  height: 40%;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  flex-direction: column;
}

.ml-panel h2 {
  margin: 0 0 0 0;
  padding-bottom: 20px;
  text-align: center;
}

.ml-panel p {
  margin: 0 0 5px 0;
  font-size: 0.9em;
}

#display {
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
}

.ml-info {
  width: 100%;
}

.info-rows {
  position: relative;
  width: 100%;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.info-container {
  font-size: 0.9em;
  width: 50%;
}

.info-container-full {
  font-size: 0.9em;
  width: 100%;
}

.outputs {
  margin-bottom: 5px;
  text-align: center;
}

.right-panel {
  position: relative;
  width: 50%;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  height: calc(100vh - 3em);
  display: flex;
  flex-direction: column;
}

.news {
  position: relative;
  border-radius: 10px;
  width: 100%;
  background-color: black;
  box-sizing: border-box;
  padding: 1px 5px 10px 5px;
  left: 50%;
  transform: translateX(-50%);
  border-color: white;
  border-style: solid;
  border-width: 2px;
}

.news-header {
  position: relative;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  font-size: 0.8em;
  margin: 0px;
  padding: 5px 5px 5px 5px;
}

.news-header h2 {
  color: white;
  margin: 0px 0px 0px 0px;
}

.news-item {
  display: flex;
  color: white;
  font-size: 0.7em;
  padding-top: 5px;
  padding-bottom: 5px;
}

.date-news {
  position: relative;
  text-align: end;
  width: 15%;
  padding-right: 10px;
  color: rgb(161, 161, 161);
}
.news-input {
  width: 100%;
}
.news-input p {
  margin: 0px;
}

.date-news p {
  margin: 0px;
}

.sentiment-explain {
  position: relative;
  display: flex;
  justify-content: center;
}

.sentiment-explain p {
  margin: 0px 0px 0px 0px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  font-size: 0.75em;
}

.positive_sent {
  color: #90ee90;
}

.neutral_sent {
  color: white;
}

.negative_sent {
  color: #ff7066;
}

.news-warning {
  margin: 0;
  color: white;
  font-size: 0.75em;
}

.info {
  background-color: black;
  padding: 5px;
  margin-top: 10px;
  box-sizing: border-box;
  height: auto;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}

.section h2 {
  border-top: 2px solid #3b3b3b;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 0.8em;
  color: white;
}

.section.top h2 {
  border-top: 0px solid #3b3b3b;
}

.section p,
ul {
  font-size: 0.65em;
  margin: 0;
  color: white;
}

.section a {
  color: white;
}

.train_loss_chart {
  position: relative;
  margin-top: 10px;
  background-color: "black";
  height: 10%;
  box-sizing: border-box;
  padding: 5px;
  flex: 3;
}

.train-loss-container {
  height: 90%;
  flex: 3;
}

.chart_button.train-loss-btn-div {
  height: 18px;
  flex: 3;
}

#train_loss_graph {
  width: 100%;
  flex: 3;
  height: 90%;
}

@media (max-width: 1200px) {
  header nav a.title {
    font-size: 1.5em;
  }

  form label,
  form select,
  form input[type="date"],
  form input[type="checkbox"],
  .feature-selction-info {
    font-size: 0.6em;
  }

  form input[type="submit"],
  .feature-selction {
    font-size: 0.6em;
  }

  #progress-bar-message,
  .error_form {
    font-size: 0.6em;
  }

  .model-info {
    font-size: 1.5em;
  }

  .ml-info,
  .info-container-full {
    font-size: 0.8em;
  }

  .info p,
  ul {
    font-size: 0.6em;
  }

  .news-wrapper p {
    font-size: 0.9em;
  }
}

/*
@media only screen and (max-width: 1220px) {
  header nav a.title {
    font-size: 1.5em;
  }

  form label,
  form select,
  form input[type="date"],
  form input[type="checkbox"],
  .feature-selction-info {
    font-size: 0.5em;
  }

  form input[type="submit"],
  .feature-selction,
  #abort {
    font-size: 0.6em;
  }

  #progress-bar-message,
  .error_form {
    font-size: 0.5em;
  }

  .model-info {
    font-size: 1.1em;
  }

  .ml-info,
  .info-container-full {
    font-size: 0.5em;
  }

  .info p,
  ul {
    font-size: 0.5em;
  }

  .news-wrapper p {
    font-size: 0.6em;
  }
} */
