body {
  margin: 0;
  font-family: "Inter";
}

header {
  width: 100%;
  height: 3em;
  position: relative;
  background-color: black;
}

.wrapper {
  display: flex;
  flex-direction: row; /* Ensure flex direction is row to place leftpanel and graphs side by side */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 112, 255, 1) 100%
  );
}

form label,
form select,
form input[type="date"],
form input[type="submit"] {
  display: block;
  margin-bottom: 10px; /* Add some space between elements */
  margin-left: 2px;
}

form input[type="submit"] {
  border-radius: 10px;
  width: 100px;
  height: 30px;
  font-weight: bold;
  display: block;
}

form .checkbox-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px; /* Add space between checkbox groups */
}

form .checkbox-group label {
  margin-left: 5px;
  margin-top: 8px;
}

form .inputs {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

form .inputs input,
form .inputs select {
  margin-left: 10px;
}

form {
  width: 70%;
  position: relative;
  margin: auto;
}

form label {
  font-weight: bold;
  color: black;
}

form input,
form select {
  color: white;
  background-color: black;
}

.error_form {
  color: red;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
}

nav {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding-left: 1em;
  padding-right: 2em;
  padding-top: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  text-decoration: none;
}

header nav a.title {
  font-size: 2em;
  color: white;
  font-weight: bold;
}

header nav a.back_to_projects {
  font-size: 1.2em;
  color: rgb(224, 221, 221);
}

.progress-bar-panel {
  background-color: white;
  width: 95%;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.message-wrapper {
  display: flex;
  padding-top: 5px;
}

#progress-bar-message {
  box-sizing: border-box;
  position: relative;
  margin: auto;
}

.panel {
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  padding-top: 40px;
  position: relative;
  margin-top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  flex-direction: column;
}

.leftpanel {
  width: 25%;
  height: calc(
    100vh - 3em
  ); /* Adjust height to fill remaining viewport minus header */
  padding: 10px 10px 30px 10px;
}

.graphs {
  width: 50%; /* Adjust width as needed */
  height: calc(100vh - 3em); /* Subtract header height from 100vh */
  position: relative;
  box-sizing: border-box;
  padding: 10px 10px 30px 10px;
  display: flex;
  flex-direction: column;
}

.graphs div {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
}

.price_chart {
  margin-top: 10px;
  width: 100%;
  height: 40%;
  background-color: rgb(255, 255, 255);
  flex: 4;
}

.volume_chart {
  width: 100%;
  height: 30%;
  margin-top: 10px;
  background-color: white;
  flex: 3;
}

.macd_chart {
  width: 100%;
  height: 30%;
  margin-top: 10px;
  background-color: white;
  flex: 3;
}

#price_graph {
  width: 100%;
}

#volume_graph {
  width: 100%;
}

#macd_chart {
  width: 100%;
}

.logo-img {
  height: 2.5em;
  box-sizing: border-box;
  padding-left: 10px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

nav p {
  color: white;
}

#abort {
  position: relative;
  width: 20%;
  height: 20px;
  margin: auto;
  color: white;
  background-color: black;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  display: none;
  margin-bottom: 5px;
  margin-top: 5px;
}

.ml-panel {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  flex-direction: column;
}

.ml-panel h2 {
  margin: 0 0 0 0;
}

.ml-info #display {
  font-weight: bold;
  margin-bottom: 5px;
}

.ml-info p {
  font-size: 0.9em;
}

.ml-info .outputs {
  margin-top: 5px;
}

.right-panel {
  width: 50%;
  box-sizing: border-box;
  padding: 20px 10px 30px 10px;
}

.news {
  position: relative;
  border-radius: 10px;
  width: 100%;
  background-color: black;
  box-sizing: border-box;
  padding: 1px 5px 10px 5px;
  left: 50%;
  transform: translateX(-50%);
  border-color: white;
  border-style: solid;
  border-width: 2px;
}

.news-header {
  position: relative;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  color: white;
  margin: -10px;
  padding: 0;
}

.news-item {
  display: flex;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

.date-news {
  position: relative;
  text-align: end;
  width: 15%;
  padding-right: 10px;
  color: rgb(161, 161, 161);
}
.news-input {
  width: 100%;
}
.news-input p {
  margin: 0px;
}

.date-news p {
  margin: 0px;
}
